<template lang="pug">
    .c-app-title
        h1 Vue.js Calculator
</template>

<style lang="scss">
    .c-app-title {
        width: 300px;
        border-left: solid 10px #ccc;
        padding-left: 10px;

        h1 {
            color: #fff;
            text-shadow: 1px 1px 5px #000;
            font-size: 55px;
        }
    }
</style>
