<template lang="pug">
  .c-calculator
    .c-calculator__screen {{userInput || 0}}
    .c-calculator__buttons
      button.c-calculator__buttons-button(
        v-for="button in buttons"
        type="button"
        v-text="button"
        @click="buttonAction(button)"
        @keypress.enter.prevent=""
      )
    .c-calculator__equal
      button.c-calculator__equal-button(
        type="button"
        @click="equals"
      ) =
</template>

<script>
export default {
  name: 'Calculator',
  data () {
    return {
      userInput: '0',
      buttons: [
        '7', '8', '9', '/', '4', '5', '6', '*',
        '1', '2', '3', '-', '0', '.', 'C', '+'
      ]
    }
  },
  methods: {
    buttonAction (action) {
      if (action === 'C') {
        this.clear()
      } else {
        if (this.userInput === Infinity) {
          this.userInput = '0'
        }

        switch (action) {
          case '*':
          case '/':
          case '+':
          case '-':
          case '.':
            if (
              this.userInput !== '' &&
              !(this.userInput + '').endsWith('*') &&
              !(this.userInput + '').endsWith('/') &&
              !(this.userInput + '').endsWith('+') &&
              !(this.userInput + '').endsWith('-') &&
              !(this.userInput + '').endsWith('.')
            ) {
              this.userInput += '' + action
            }
            break
          default:
            if (this.userInput === '0') {
              this.userInput = '' + action
            } else {
              this.userInput += '' + action
            }
        }
      }
    },
    equals () {
      //  eslint-disable-next-line
      let res = eval(this.userInput)

      if (res) {
        this.userInput = res
      }
    },
    removeNumber () {
      let len = (this.userInput + '').length

      if (len) {
        this.userInput = (this.userInput + '').substring(0, len - 1)
      }
    },
    clear () {
      this.userInput = ''
    }
  },
  mounted () {
    window.addEventListener('keypress', e => {
      if (e.keyCode === 13) {
        this.equals()
      } else if (e.keyCode === 127) {
        this.removeNumber()
      } else {
        let code = String.fromCharCode(e.keyCode)

        if (code.toUpperCase() === 'C') {
          this.clear()
        } else {
          if (this.buttons.includes(code)) {
            this.buttonAction(code)
          }
        }
      }
    })
  }
}
</script>

<style <style lang="scss">
  .c-calculator {
    box-shadow: 1px 1px 10px #000;
    width: 320px;
    background: #000;

    %button {
      width: 80px;
      height: 80px;
      font-size: 22px;
      font-weight: bold;
      border: 0;
      outline: 0;
      cursor: pointer;
      background: transparent;
      color: #fff;
      transition: all ease .2s;

      &:hover {
        transform: scale(1.5);
      }
    }

    &__screen {
      padding: 12px;
      word-break: break-all;
      font-size: 50px;
      margin: 0;
      background: #111;
      color: #fff;
      border: solid 1px #333;

      &-operation {
        input {
          border-bottom: solid 1px #ccc;
        }
      }
    }

    &__buttons {
      &-button {
        @extend %button;
      }
    }

    &__equal {
      &-button {
        @extend %button;
        min-width: 100%;
      }
    }
  }
</style>
