<template lang="pug">
  #app
    AppTitle
    Calculator
</template>

<script>
import Calculator from './components/Calculator'
import AppTitle from './components/AppTitle'

export default {
  name: 'App',
  components: {
    Calculator,
    AppTitle
  }
}
</script>

<style>
  body {
    background: url('assets/bg.jpg') top left no-repeat;
    font-family: 'Roboto', sans-serif;
  }

  #app {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
  }
</style>
